@import "tailwindcss";

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
    font-family: "Montserrat", sans-serif;
}

.PhoneInputCountrySelect {
    background: #010520ef !important;
    /* light gray */
    border-color: var(--color-foreground) !important;
    /* dark gray */
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #2b51f93b;
}

::-webkit-scrollbar-thumb {
    background-color: #2b51f9f2;
    border-radius: 10px;
}

.slick-slide {
    padding: 0 10px;
    /* left-right gap */
}

.slick-list {
    margin: 0 -10px;
    /* negative margin to fix alignment */
}

.loader {
    color: #2b51f9f2;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

.editor h2 {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0px;
}
.editor ul {
    list-style: disc;
    margin: 5px 0px;
    margin-left: 25px;
}
.editor ol {
    list-style: decimal;
    margin: 5px 0px;
    margin-left: 25px;
}
.editor ul li {
    margin: 5px 0px;
}
.editor ol li {
    margin: 5px 0px;
}


@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(7.2% 0.005 320);
    --card: oklch(15.0% 0.021 275.4);
    --popover: oklch(15.0% 0.021 275.4);
    --muted: oklch(20.0% 0.015 270.0);
    --accent: oklch(14.0% 0.035 274.9);
    --foreground: oklch(100% 0 0);
    --card-foreground: oklch(100% 0 0);
    --popover-foreground: oklch(100% 0 0);
    --muted-foreground: oklch(62.0% 0.012 290.0);
    --accent-foreground: oklch(100% 0 0);
    --primary: oklch(99.405% 0.00011 271.152);
    --primary-foreground: oklch(100% 0 0);
    --ring: oklch(66.0% 0.166 262.4);
    --secondary: oklch(55.578% 0.23097 262.142 / 0.966);
    --secondary-foreground: oklch(9.0% 0.016 280.6);
    --destructive: oklch(60.0% 0.150 25.0);
    --border: oklch(25.0% 0.017 260.0);
    --input: oklch(15.0% 0.021 275.4);
    --chart-1: oklch(66.0% 0.166 262.4);
    --chart-2: oklch(70.0% 0.122 145.0);
    --chart-3: oklch(40.0% 0.08 270.0);
    --chart-4: oklch(80.0% 0.15 170.0);
    --chart-5: oklch(50.0% 0.10 300.0);
    --sidebar: oklch(15.0% 0.021 275.4);
    --sidebar-foreground: oklch(100% 0 0);
    --sidebar-primary: oklch(66.0% 0.166 262.4);
    --sidebar-primary-foreground: oklch(100% 0 0);
    --sidebar-accent: oklch(14.0% 0.035 274.9);
    --sidebar-accent-foreground: oklch(100% 0 0);
    --sidebar-border: oklch(25.0% 0.017 260.0);
    --sidebar-ring: oklch(66.0% 0.166 262.4);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}